
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
RC(0,0) RC(0,1) 
RC(1,0) RC(1,1) 
        >;
    };


    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        row-gpios
            = <&blackpill 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&blackpill 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>

            ;

        col-gpios
            = <&blackpill 13 GPIO_ACTIVE_HIGH>
			, <&blackpill 12 GPIO_ACTIVE_HIGH>

            ;
    };
};

